<div class="documentation">

	<section id="home">
		<% if Proxy.order_by(:check_time.desc).first %>
			Last proxy check:
			<span class="label label-important">
				<%= Proxy.order_by(:check_time.desc).first.check_time %>
			</span>
		<% end %>

	</section>

	<section id="documentation">
		<div class="page-header">
	    <h2>Documentation</h2>
	  </div>
	</section>

	<section id="formats">
	  <h3 class="offset3">Formats</h3>
	  <div class="row-fluid">
	  	<span class="span4">
		  	<ul>
		  		<div>JSON</div>
		  	</ul>
		  </span>
		  <span class="span6 defs">
		  	<ul>
		  		<div>The only format currently</div>
		  	</ul>
		  </span>
		</div>
	</section>


	<section id="proxies">
	  <h3 class="offset3">Proxies</h3>

			<div class="row-fluid">
		  	<span class="span4">
			  	<ul>
			  		<div class="nav-header">Fields</div>
			  		<div>:_id</div>
			  		<div>:ip</div>
			  		<div>:port</div>
			  		<div>:latency</div>
			  		<div>:type</div>
			  		<div>:availability</div>
			  		<div>:available</div>
			  		<div>:last_check</div>
			  		<div>:checks_count</div>
			  	</ul>
			  </span>
			  <span class="span6 defs">
			  	<ul>
			  		<div class="nav-header">Comments</div>
			  		<div>Proxy permanent id</div>
			  		<div>Proxy IP, String</div>
			  		<div>Proxy Port</div>
			  		<div>Proxy latency based on number of checks</div>
						<div>Proxy type, ["HTTP", "HTTPS", "SOCKS#{n}"] type: Array</div>
			  		<div>Proxy availability based on number of checks</div>
			  		<div>If proxy is available</div>
			  		<div>When proxy was checked last time</div>
			  		<div>Number of our checks for this proxy</div>
			  	</ul>
			  </span>
			</div>

<br/>

	  <div class="row-fluid">
	  	<span class="span4">
		  	<ul>
		  		<div class="nav-header">URL</div>
		  		<div>GET: <%= link_to "/api/proxies/recent(.:format)", recent_api_proxies_path %></div>
					<div>GET: <%= link_to "/api/proxies/fast(.:format)", fast_api_proxies_path %> </div>
					<div>GET: <%= link_to "/api/proxies/random(.:format)", random_api_proxies_path %></div>
					<div>GET: <%= link_to "/api/proxies(.:format)", api_proxies_path %></div>
			  	<div>GET: <%= link_to "/api/proxies/:id(.:format)", api_proxy_path(Proxy.random || 'proxy_id') %></div>
		  	</ul>
		  </span>
		  <span class="span6 defs">

		  	<ul>
		  		<div class="nav-header">Comments</div>
					<div> Starting from most recent proxies </div>
					<div> Starting from the fastest proxies </div>
					<div> Selects random fast and recent proxy </div>
					<div> All Proxy list </div>
			  	<div> Shows one proxy defined by :id </div>
		  	</ul>
		  </span>
		</div>

	</section>

	<section id="countries">
	  <h3 class="offset3">Countries <small>:index, :show</small></h3>
	  <div class="row-fluid">
	  	<span class="span4">
		  	<ul>
		  		<div class="nav-header">URL</div>
					<div>GET: <%= link_to "/api/countries(.:format)", api_countries_path %></div>
			  	<div>GET: <%= link_to "/api/countries/:id(.:format)", api_country_path(Country.first || 'country_id') %></div>
		  	</ul>
		  </span>
		  <span class="span6 defs">

		  	<ul>
		  		<div class="nav-header">Comments</div>
		  		<div>Index</div>
		  		<div>Show</div>
		  	</ul>
		  </span>
		</div>
	</section>

	<section id="country_proxies">
	  <h3 class="offset3">Country / Proxies <small>:index, :show</small></h3>
	  <div class="row-fluid">
	  	<span class="span4">
		  	<ul>
		  		<div class="nav-header">URL</div>
					<div>GET: <%= link_to "/api/countries/:counry_id/proxies(.:format)", api_country_proxies_path(Country.first || country_id) %></div>
		  	</ul>
		  </span>
		  <span class="span6 defs">

		  	<ul>
		  		<div class="nav-header">Comments</div>
		  		<div>Index</div>
		  	</ul>
		  </span>
		</div>
	</section>


</div>