<div>

	<section id="home">
		<% if Proxy.order_by(:updated_at.desc).first %>
			Last proxy check:
			<span class="label label-important">
				<%= Proxy.order_by(:updated_at.desc).first.updated_at %>
			</span>
		<% end %>

	</section>

	<section id="documentation">
		<div class="page-header">
	    <h2>Documentation</h2>
	  </div>
	</section>

	<section id="formats">
	  <h3>Formats</h3>
	  <div class="well" style="margin-bottom: 9px;">
		  <ul>
				<li>JSON</li>
		  </ul>
	  </div>
	</section>


	<section id="proxies">
	  <h3>Proxies <small>many actions</small></h3>
		<div class="well" style="margin-bottom: 9px;">
			<ul>
				<li>GET: <%= link_to "/api/proxies/recent(.:format)", recent_api_proxies_path %></li>
				<small> # Starting from most recent proxies </small>

				<li>GET: <%= link_to "/api/proxies/fast(.:format)", fast_api_proxies_path %> </li>
				<small> # Starting from the fastest proxies </small>

				<li>GET: <%= link_to "/api/proxies/random(.:format)", random_api_proxies_path %></li>
				<small> # Selects random fast and recent proxy </small>

				<li>GET: <%= link_to "/api/proxies(.:format)", api_proxies_path %></li>
				<small> # All Proxy list </small>

		  	<li>GET: <%= link_to "/api/proxies/:id(.:format)", api_proxy_path(Proxy.random || 'proxy_id') %></li>
		  	<small> # Shows one proxy defined by :id </small>

		  </ul>
		</div>
	</section>

	<section id="countries">
	  <h3>Countries <small>:index, :show</small></h3>
		<div class="well" style="margin-bottom: 9px;">
			<ul>
				<li>GET: <%= link_to "/api/countries(.:format)", api_countries_path %></li>
		  	<li>GET: <%= link_to "/api/countries/:id(.:format)", api_country_path(Country.first || 'country_id') %></li>
		  </ul>
		</div>
	</section>

	<section id="country_proxies">
	  <h3>Country / Proxies <small>:index, :show</small></h3>
		<div class="well" style="margin-bottom: 9px;">
			<ul>
				<li>GET: /api/countries/:counry_id/proxies(.:format)</li>
		  	<li>GET: /api/countries/:counry_id/:id(.:format)</li>
		  </ul>
		</div>
	</section>


</div>