<div class="page-header hidden-xs">
  <h1><%= "Sign in" %></h1>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
	<div class="row">
	  <div class="col-md-6">
	    <fieldset>
	      <%= f.text_field :email %></p>
	      <%= f.password_field :password %>
	      <%= f.check_box(:remember_me) if devise_mapping.rememberable? %>

	      <div class="control-group">
	        <div class="controls">
	          <%= render "devise/shared/links" %>
	        </div
	      </div>
	    </fieldset>
	  </div>
	  <!--
	    <div class="col-md-6">
	      <%= render "devise/shared/omniauth_links" %>
	    </div>
	  -->
	  </div>

  <div class="form-actions">
    <%= link_to t("sign_up"), new_user_registration_path ,:class => "btn btn-success btn-large" %>

    <%= f.submit "Sign in", :class => "btn btn-primary btn-large" %>

  </div>

<% end %>
